.App {
  background-color: #fff;
  width: 400px;
  height: 95vh;
  max-height: 1000px;
  overflow: auto;
}

.header-app {
  font-weight: 600;
  font-size: 1rem;
  padding: 0 10px;
  color: white;
  background-color: #09539c;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px #666;
}
